main, header{
    font-family: Helvetica;
}

.title{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

.blue{
    font-weight: bold;
    color: blue;
}

h1{
    font-size: 32px;
    font-weight: bold;
}

.b h1{
    background-color: mediumspringgreen;
}

.f h1{
    background-color: lightcoral;
}

.p h1{
    background-color: skyblue;
}
#cr{
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 18 px;
    background: linear-gradient(blue,pink);
}